@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Titillium+Web:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

html {
    font-size: 62.5%;
}